@charset "utf-8";
*{
  box-sizing: border-box;
}


.wrap{
  width: 1020px;
  margin: 0 auto;
}

/* 헤더영역 */
header{}
#header_top{}
header .wrap{background-color: #fff;}

#top_menu{
  display: flex;
  justify-content: end;
}
#top_menu ul{
  height: 30px;
  display: flex;
  align-items: center;
}
#top_menu ul li{
  padding: 0 9px 0 10px;
  position: relative;
}
#top_menu ul li::after{
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  background-color: #ccc;
  position: absolute;
  right: 0;
  top: 0;
}
#top_menu ul li:last-child{
  padding-right: 0;
}
#top_menu ul li:last-child::after{
  display: none;
}
#top_menu ul li a{
  text-decoration: none;
  color: #333;
  font-size: 12px;
}

#header_part{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
#header_part .logo{}
#header_part .logo img{
  width: 248px;
  height: 42px;
}

#header_part .search{}
#header_part .search .search_box{
  display: flex;
  align-items: center;
  width: 340px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #9bce26;
  border-radius: 20px;
  padding: 0 20px;  
  position: relative;
}
#header_part .search .search_box input{
  width: 100%;
  height: 36px;
  font-size: 12px;
  border: none;
  outline: none;
  margin-right: 10px;
}
#header_part .search .search_box img{
  width: 21px;
  height: 21px;

}

#header_part .my_menu{}
#header_part .my_menu ul{
  display: flex;
}
#header_part .my_menu ul li{
  padding: 0 10px;
  position: relative;
}
#header_part .my_menu ul li::after{
  content: "";
  display: block;
  background-color: #ccc;
  width: 1px;
  height: 18px;
  position: absolute;
  top: 0;
  right: 0;
}
#header_part .my_menu ul li:last-child{
  padding-right: 0;
}
#header_part .my_menu ul li:last-child::after{
  display: none;
}
#header_part .my_menu ul li a{
  color: #333;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding-bottom: 5px;
  position: relative;
}
#header_part .my_menu ul li:first-child a{
  width: 85px;
  background-image: url(../image/ico_delivery_flag.png);
  background-repeat: no-repeat;
  background-size: 22px 20px;
  background-position: right 0;
  padding-bottom: 10px;
}
#header_part .my_menu ul li a::after{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #333;
  position: absolute;
  bottom: 0;
  display: none;
}
#header_part .my_menu ul li:hover a::after{
  display: block;
}

#header_bot{
  border-top: 1px solid #ddd;
  border-bottom: 2px solid #555;
}
#header_bot .wrap{
  background-color: #fff;
}
#main_menu{
  display: flex;
  align-items: center;
}
#category{
  width: 170px;
  text-align: center;
  cursor: pointer;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
  z-index: 1;
}
#category span{
  line-height: 44px;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  display: block;
}
#category span.active{
  background-color: #2f3030;
  border-color: #2f3030;
  color: #fff;
}
#category span::before{
  content: "";
  display: block;
  background-image: url(../image/ico_menu_off.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20px;
  top: 15px;
}
#category span.active::before{
  background-image: url(../image/ico_menu_on.png);
}
#category > ul{
  position: absolute;
  left: 0;
  top: 44px;
  display: flex;
  width: 1020px;
  border: 2px solid #2f3030;
  cursor: default;
  background-color: #fff;
}
#category > ul > li{
  padding: 15px 22px;
  text-align: left;
  width: 254px;
}
#category > ul > li h2{
  border-bottom: 1px solid #666;
  padding-bottom: 14px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 700;
}
#category > ul > li > ul{
  padding-top: 20px;
  padding-left: 22px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 800px;
}
#category > ul > li > ul > li{}
#category > ul > li > ul > li > a{
  color: #000;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}
#category > ul > li > ul > li > a::after{
  content: url(../image/bar_arrow_6x10.png);
  position: absolute;
  right: -13px;
  top: 1px;
}
#category > ul > li > ul > li > ul{
  padding: 15px 0;
}
#category > ul > li > ul > li > ul > li{
  padding-bottom: 10px;
  font-size: 13px;
  color: #888;
  font-weight: 700;
  cursor: pointer;
}
#category > ul > li > ul > li > ul > li:hover{
  color: #333;
  transition: all 0.3s;
  position: relative;
}

#category > ul > li.beauty{
  width: 508px;
}
#category > ul > li.beauty > ul{}
#category > ul > li.beauty > ul > li{}
#category > ul > li.beauty > ul > li > a{}
#category > ul > li.beauty > ul > li > ul{}
#category > ul > li.beauty > ul > li > ul > li{}
#category > ul > li.health{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#category > ul > li.health > ul{}
#category > ul > li.health > ul > li{}
#category > ul > li.health > ul > li > a{}
#category > ul > li.health > ul > li > ul{}
#category > ul > li.health > ul > li > ul > li{}

#category > ul > li.life{}
#category > ul > li.life > ul{}
#category > ul > li.life > ul > li{}
#category > ul > li.life > ul > li > a{}
#category > ul > li.life > ul > li > ul{}
#category > ul > li.life > ul > li > ul > li{}

#category > ul .close{
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #000;
  padding: 5px;
  cursor: pointer;
}

#menu_list{
  display: flex;
  padding-left: 10px;
}
#menu_list li{
  padding: 0 20px;
}
#menu_list li a{
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}
#menu_list li a:hover{
  color: #f27370;
  border-bottom: 2px solid #f27370;
}

/* 콘텐츠 영역 */

#event_title{}
#event_title .wrap{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#event_title .title{
  padding: 20px 0;
}
#event_title .title h3{
  font-size: 24px;
  color: #222;
  font-weight: 400;
  line-height: 30px;
}

#event_title .date_sns{
  display: flex;
  align-items: center;
}
#event_title .date_sns .date{}
#event_title .date_sns .date p{
  font-size: 16px;
  color: #888;
  font-weight: 700;
}

#event_title .date_sns .sns{
  display: flex;
  padding-left: 10px;
}
#event_title .date_sns .sns li{
  padding-left: 3px;
}
#event_title .date_sns .sns li a{}
#event_title .date_sns .sns li a img{
  width: 32px;
  height: 32px;
}


#visual_part{}
#visual_part .visual{
  height: 1084px;
  background-image: url(../image/pc_visual.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
#visual_part .visual .wrap{
  height: 100%;
  position: relative;
}
#visual_part .visual .wrap a{
  display: block;
  width: 380px;
  height: 70px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}

#visual_part .cnt01{
  background-image: url(../image/pc_cnt01.jpg);
  height: 872px;
  background-repeat: no-repeat;
  background-position: center top;
}
#visual_part .cnt01 .wrap{
  height: 100%;
  position: relative;
}
#visual_part .cnt01 h1{
  position: absolute;
  font-size: 92px;
  color: #005191;
  top: 200px;
  left: 220px;
}
#visual_part .cnt01 .bar_part{
  position: absolute;
  background-image: url(../image/bg_progressBar.png);
  width: 664px;
  height: 118px;
  bottom: 160px;
  left: 50%;
  transform: translateX(-50%);
}



#visual_part .cnt02{
  background-image: url(../image/pc_cnt02.jpg);
  height: 258px;
  background-repeat: no-repeat;
  background-position: center top;
}
#visual_part .cnt02 .wrap{
  height: 100%;
  position: relative;
}
#visual_part .cnt02 .pop_notice{
  width: 150px;
  height: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 62px;
  cursor: pointer;
}
#visual_part .cnt02 .best{
  width: 330px;
  height: 75px;
  position: absolute;
  left: 140px;
  bottom: 55px;
  cursor: pointer;
}
#visual_part .cnt02 .today{
  width: 330px;
  height: 75px;
  position: absolute;
  right: 140px;
  bottom: 55px;
  cursor: pointer;
}

#visual_part .banner01{
  background-image: url(../image/pc_banner01.jpg);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
}
#visual_part .banner02{
  background-image: url(../image/pc_banner02.jpg);
  height: 120px;
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
}


/* 상품영역 */


/* footer */
footer{
  margin-top: 50px;
  border-top: 2px solid #aaa;
}
#footer_top{
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}
#footer_top .wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
#footer_top .list{
  display: flex;
}
#footer_top .list li{
  position: relative;
}
#footer_top .list li:not(:last-child)::after{
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  background-color: #ccc;
  position: absolute;
  top: 2px;
  right: 0;
}
#footer_top .list li a{
  text-decoration: none;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  padding: 0 20px 0 21px;
}
#footer_top .list li:first-child a{
  padding-left: 0;
}

#footer_top .select_site{}
#footer_top .select_site p{}
#footer_top .select_site .select_part{
  display: none;
}

#footer_mid{}
#footer_mid .wrap{
  padding-top: 30px;
}
#footer_mid .mid_cont{
  display: flex;
  padding-bottom: 10px;
  /* align-items: center; */
}
#footer_mid .mid_cont > li:not(:first-child){
  padding-left: 20px;
}
#footer_mid .mid_cont .f_logo{
  padding-top: 70px;
}
#footer_mid .mid_cont .f_logo a{}
#footer_mid .mid_cont .f_logo a img{
  width: 146px;
  height: 24px;
}
#footer_mid .mid_cont .f_info{
  padding-right: 50px;
}
#footer_mid .mid_cont > li:nth-child(3){
  width: 256px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#footer_mid .mid_cont > li:nth-child(4){
  width: 255px;
}
#footer_mid .mid_cont > li > ul > li{
  font-size: 12px;
  line-height: 18px;
  color: #777;
  padding-top: 5px;
}
#footer_mid .mid_cont > li > ul > li:first-child{
  padding-top: 0;
}
#footer_mid .mid_cont > li > ul > li.bold{
  font-weight: 700;
  color: #000;
}
#footer_mid .mid_cont > li > ul > li.underline{
  text-decoration: underline;
}
#footer_mid .mid_cont2{
  border-top: 1px solid #ddd;
  padding: 0 10px;
  display: flex;
}
#footer_mid .mid_cont2 .left{
  display: flex;
  justify-content: center;
  background-image: url(../image/foot_isms_new.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 25px;
}
#footer_mid .mid_cont2 .left li{
  font-size: 11px;
  color: #777;
  line-height: 58px;
  letter-spacing: -1px;
  position: relative;
  margin: 0 10px;
}
#footer_mid .mid_cont2 .left li:not(:last-child)::after{
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  right: -10px;
  bottom: 0;
  margin: auto 0;
}
#footer_mid .mid_cont2 .right{
  background-image: url(../image/foot_ncsi.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  margin-left: 28px;
  padding-left: 35px;
}
#footer_mid .mid_cont2 .right p{
  font-size: 11px;
  color: #777;
  line-height: 58px;
  letter-spacing: -1px;
}


#footer_bot{
  border-top: 1px solid #e5e5e5;
  background-color: #f9f9f9;
}
#footer_bot .wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer_bot .title{
  padding: 20px 0;
}
#footer_bot .title p{
  font-size: 11px;
  color: #888;
  font-weight: 700;
  line-height: 18px;
}

#footer_bot .date_sns{
  display: flex;
  align-items: center;
}
#footer_bot .date_sns .date{}
#footer_bot .date_sns .date p{
  font-size: 12px;
  color: #aaa;
  font-weight: 700;
}

#footer_bot .date_sns .sns{
  display: flex;
  padding-left: 10px;
}
#footer_bot .date_sns .sns li{
  padding-left: 3px;
}
#footer_bot .date_sns .sns li a{}
#footer_bot .date_sns .sns li a img{
  width: 22px;
  height: 22px;
}